
/*Main Body Frame*/
.main_body_back_frame
{
    background-color: White;
    margin: auto;
}

/*Div*/
.HighLightBox
{
    background-color: #88DD88;
    width: 990px;
}
.WorkingBox
{
    background-color: #FFFFFF;
    width: 990px;
}
.HeadBox
{
    width: 1000px;
    background-color: White;
    height: 50px;
    text-align: left;
}
.MenuBox
{
    background-color:#4387FE;
    width: 100%;
    height: 80px;
    text-align: left;
    color:White;
}
.main_body_frame
{
    width: 1000px;
    background-color: #F5F5F5;
    border: 1px solid #BEBEBE;
    min-height: 600px;
    text-align: left;
}
/*Table*/

.Header
{
    background-color: #009530;
    color: White;
}


.Title_td
{
    text-align:right;    
    color:Gray;
    width:120px;
}

/*Textbox Watermark*/
.watermarked
{
    width: 150px;
    padding: 2px 0 0 2px;
    border: 1px solid #BEBEBE;
    background-color: #F0F8FF;
    color: gray;
}
/*Update Progress Panel*/
.panel_progress
{
    position: fixed;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 250px;
    margin-top: -9em; /*set to a negative number 1/2 of your height*/
    margin-left: -15em; /*set to a negative number 1/2 of your width*/
    border: 1px solid #ccc;
    background-color: #f3f3f3;
}
.panel_room_detail
{
    position: fixed;
    top: 50%;
    left: 50%;
    width: 700px;
    height: 500px;
    margin-top: -250px; /*set to a negative number 1/2 of your height*/
    margin-left: -350px; /*set to a negative number 1/2 of your width*/
    border: 1px solid #ccc;
    background-color: #f3f3f3;
   
}
.panel_progress_overlay
{
    position: fixed;
    z-index: 99;
    top: 0px;
    left: 0px;
    
    background-image: url(background_transparent.png);
    background-color: Black;
    width: 100%;
    height: 100%;
}
