<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="GoogleMapKey" value="AIzaSyCM0MEusKb6Kg4H9RM1TLBruP37pfQpCyE"/>
    
  </appSettings>
  <connectionStrings>
    <!--Data Source=.\sqlexpress;Initial Catalog=CAKE_WAVE;Integrated Security=True;-->
    <!--"Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\cake_wave.mdf;Integrated Security=True;User Instance=True"-->
    <add name="cake_waveConnectionString" connectionString="Data Source=tcp:s06.winhost.com;Initial Catalog=DB_45244_shwe8;User ID=DB_45244_shwe8_user;Password=nop@ssw0rd;Integrated Security=False;"
      providerName="System.Data.SqlClient" />
    <add name="cake_waveConnectionString1" connectionString="Data Source=tcp:s06.winhost.com;Initial Catalog=DB_45244_shwe8;User ID=DB_45244_shwe8_user;Password=nop@ssw0rd;Integrated Security=False;"
      providerName="System.Data.SqlClient" />
    <add name="CAKE_WAVEConnectionString2" connectionString="Data Source=tcp:s06.winhost.com;Initial Catalog=DB_45244_shwe8;User ID=DB_45244_shwe8_user;Password=nop@ssw0rd;Integrated Security=False;"
      providerName="System.Data.SqlClient" />
    <add name="CAKE_WAVEConnectionString3" connectionString="Data Source=tcp:s06.winhost.com;Initial Catalog=DB_45244_shwe8;User ID=DB_45244_shwe8_user;Password=nop@ssw0rd;Integrated Security=False;"
      providerName="System.Data.SqlClient" />
    <add name="CAKE_WAVEConnectionString4" connectionString="Data Source=tcp:s06.winhost.com;Initial Catalog=DB_45244_shwe8;User ID=DB_45244_shwe8_user;Password=nop@ssw0rd;Integrated Security=False;"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <pages>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
        <add tagPrefix="artem" namespace="Artem.Google.UI" assembly="Artem.Google"/>
      </controls>
    </pages>
  </system.web>
</configuration>